.about_title {

    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    

}
/* https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */

.about_section{

    margin-top: 50%;
}

.content-center {

    width: 300px; 
    margin:0 auto;
}

.header_title {

    color: rgb(231, 231, 245);
    font-size: 40px;
    font-family: cursive;
    font-weight: bolder;

}

.Work_expirience {

    color:black;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 2cm;
    color: white;

}

.contact_me {

    font-size: 60px;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-position: center;
    margin: auto;
    display: block;
    position: relative;
    margin-top: 50%;
    text-align: center;

}



.react_2 {
    position: absolute;
    float: left;
    padding-left: 2cm;
    margin-left: -8cm;
    margin-right: 0cm;
}

.image {

    height: fit-content;
}

.portfolio_title{

    margin-left: 20%;
    color: white;
    padding-top: 2cm;
}

.h4{

    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
}
/* https://stackoverflow.com/questions/2789703/remove-blue-underline-from-link */
a:hover, a:visited, a:link, a:active {

    text-decoration: none!important;

    -webkit-box-shadow: none!important;
    box-shadow: none!important;}

    .form{

        padding-top: 2cm;
        padding-bottom: 2cm;
        color: white;
    }

    .contact_inform{

        padding-top: 2cm;
        color: white;
    }