
.nav-image {
    background-image: url('../images/pexels-eberhard-grossgasteiger-1421903.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position:center; 
    height: 600px;
            }


.about-title {

    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    

}

.about-section {

    height: 600px; 
    background-color:black;
    color: white;
    
}
/* https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */

.about-body{

    padding-top: 50%;
}

.content-center {

    width: 300px; 
    margin:0 auto;
    text-align: center;
    
}

.header-title {

    color: rgb(231, 231, 245);
    font-size: 25px;
    font-family: cursive;
    font-weight: bolder;
    

}

.expirience-section {

    height: 100%; 
    width: 100%; 
    background-color: black;
    color: white;
}

.work-heading{

    text-align: center;
}

.Work-expirience {

    color:black;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 2cm;
    color: white;

}

.portfolio-section {

    height: 100%; 
    background-color: black;
}
.portfolio-heading {

    text-align: center;
}

.contact {

    font-size: 60px;
    color: white;
    text-align: center;
    background-position: center;
    margin: auto;
    display: block;
    position: relative;
    margin-top: 50%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

.font-type {

    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding-top: 2cm;
}

.image {

    height: fit-content;
}

.portfolio-title{

    margin-left: 20%;
    color: white;
    padding-top: 2cm;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

.h4{

    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
}
/* https://stackoverflow.com/questions/2789703/remove-blue-underline-from-link */
a:hover, a:visited, a:link, a:active {

    text-decoration: none!important;

    -webkit-box-shadow: none!important;
    box-shadow: none!important;}

    .form{

        padding-top: 2cm;
        padding-bottom: 2cm;
        color: white;
    }

    .contact-inform{

        padding-top: 2cm;
        color: white;
    }

    .svg-object {

        opacity:0.5;
    }
    /*
    https://stackoverflow.com/questions/30526822/bootstrap-how-to-center-align-content-inside-column
    */
    .center-block {
        margin-left:auto;
        margin-right:auto;
        display:block;
    
     }

/*
     http://webdesignerwall.com/tutorials/responsive-design-with-css3-media-queries
     */
    .image-fluid {
        max-width: 100%;
        height: auto;
    }

    .contact-header {
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position:center;
        height: 500px;
        background-image: url('../images/pexels-mark-plötz-2790391.jpg');
    }
    
    .contact-section {
        height: 100%; 
        background-color: black;
    }


    .footer-section {

        height: 100%;
        background-color:rgb(5, 5, 5);
    }

    .footer-content {

        padding-top: 50px; 
        padding-bottom: 50px;
    }

   @media screen and (max-width: 767px) {
        .sc-img {display: none;}
   }

   .footer-font {

    color:honeydew;

   }

   .icon-cog  {
    color: gray;
  }

  .download-btn  {
    color: gray;
  }

