.about_title {

    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}
/* https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */

.content-center {

    width: 300px; 
    margin:0 auto;
}

.header_title {

    color: white;
    font-size: 30px;

}

.work_expirience {

    color:black;
    font-size: 30px;
    font-weight: bolder;

}

.contact_me {

    font-size: 60px;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-position: center;
    margin: auto;
    display: block;
    position: relative;
    padding-top: 250px;
    text-align: center;

}



.react_2 {
    position: absolute;
    float: left;
    padding-left: 2cm;
    margin-left: -8cm;
    margin-right: 0cm;
}

.image {

    height: fit-content;
}



